.user-component {
  .mat-table {
    background-color: mat-color($monster-app-background, background, 0.5);
  }
  table {
    width: 95%;
    margin: 1rem auto;
  }
  .btn-adduser {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
  &__align-right {
    text-align: right;
  }
}
